.content {
  padding: 6em 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.textContent {
  margin-left: 8em;
  padding-top: 2em;
}

.heading {
  font-weight: 500;
  font-size: 1.6em;
  margin-bottom: 2em;
}

.text {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 6em;
}

.button {
  background-color: #141414;
  color: #ffe9b0;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.8em 3em;
  border-radius: 10px;
}
